{% extends 'base.html' %}

{% block content %}
	<div class="confirmContainer">
		<form method="POST">
			{% csrf_token %}  <!- Required for Django as security -->
			<fieldset class="formGroup">
				<legend class="confirmHeader">Delete Post</legend>
				<h2>Are you sure you want to delete this client :  {{ object }}</h2>
			</fieldset> 
			<div class="btnGroup">
				<button class="btn btnDanger" type="submit">Yes, Delete</button>
				<a class="btn btnGhost" href="{% url 'getClients' %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock %}