{% extends 'base.html' %}

{% block content %}
	<div class="confirmContainer">
		<form method="POST">
			{% csrf_token %}  <!- Required for Django as security -->
			<fieldset>
				<h1 class="confirmHeader">Delete Client</h1>
				<h2 class="confirmHeader">Are you sure you want to delete this client?<br><span class="deleteClient">{{ object }}</span></h2>
			</fieldset> 
			<div class="btnGroup">
				<input class="btn btnDanger" type="submit" value="Yes, Delete" >
				<a class="btn btnGhost" href="{% url 'getClients' %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock %}
