{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Amber|{% trans "Add User" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="signIn">
		<h3>{% trans "Add User" %}</h3>

	</div>
	<div class="loginForm signIn">
		<form class="signup" id="signup_form" method="post"
			action="{% url 'account_signup' %}">
			{% csrf_token %} 
			{{ form.as_p }} 
			
			{% if redirect_field_value %} 
				<input type="hidden" name="{{ redirect_field_name }}"
					value="{{ redirect_field_value }}" /> 
			{% endif %}
			<button class="btn btn-signup" type="submit">
				{% trans "Add User" %} &raquo;
			</button>
		</form>
	</div>
</div>

{% endblock %}
