{% extends "base.html" %}

{% block title %}Amber|Add Diagnosis{% endblock title %}
{% block diagnosisActive %}navigationActive{% endblock %}
{% block content %}
	<div id="diagnosisContainer">
		
		<h1>List of client diagnoses:</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		
		<!-- A query set is kind of like a list which means we can iterate through it in our
		template just like we could iterate through a list in Python. -->
		<ul id="diagnosisList">
			{% for diagnosis in diagnoses %}
				<li class="diagnosisItem">{{ diagnosis.diagnosis }}</li>
					
			<!-- What to do if there are NO diagnoses returned from DB -->
			{% empty %}
				<li>There are no diagnoses yet.  Please add one below :</li>
			{% endfor %}
		</ul>

		<!-- No URL to submit the form to -->
		<!-- I.E. This is a 'postback' -->
		<form id="diagnosisForm">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<!-- 'form' has been passed as a Django form in the context to this page -->
			
			<!-- A single text field where the Admin will enter the name of the new diagnosis -->
			<div class="formGroup">
				{{ form.diagnosis }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.diagnosis.name }}" class="formLabel">{{ form.diagnosis.label }}:</label>
			</div>


			<!-- A set of buttons allowing the Occupational Therapist to save the new client's details
			or cancel the operation altogether, or just reset the form to start over again -->
			<!-- The Main button will be a distinct colour to highlight its primary importance.
			The Cancel button is of secondary importance and will be white to denote this.
			The Reset button is of tertiary importance and will be white with no border,
			in other words it will not look like a button so that it does not attract
			any attention away from the other more important buttons. -->
			<div class="btnGroup largeRow">
				<input type="submit" class="btn btnMain" value="Add Diagnosis" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a> 
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>
{% endblock content %}
