{% extends "base.html" %}

{% block diagnosisActive %}navigationActive{% endblock %}
{% block content %}
	<div id="diagnosisContainer">
		
		<h1>List of client diagnoses:</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<!-- {{ diagnoses }} -->
		
		<!-- A query set is kind of like a list which means we can iterate through it in our
		template just like we could iterate through a list in Python. -->
		<ul id="diagnosisList">
			{% for diagnosis in diagnoses %}
				<li class="diagnosisItem">{{ diagnosis.diagnosis }}</li>
					
			<!-- What to do if there are NO diagnoses returned from DB -->
			{% empty %}
				<li>There are no diagnoses yet.  Please add one below :</li>
			{% endfor %}
		</ul>
		<!-- 'addDiagnosis' URL that we will submit the form to 
			i.e. this is a "postback" -->
		<form id="diagnosisForm">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<!-- 'form' has been passed as a Django form in the context to this page -->
			<!-- as_p renders the elements as paragraphs, as_table renders them as a table -->
			
			<div class="formGroup">
				{{ form.diagnosis }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.diagnosis.name }}" class="formLabel">{{ form.diagnosis.label }}:</label>
			</div>
			<div class="btnGroup">
				<input type="submit" class="btn btnMain" value="Add Diagnosis" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a> 
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>
{% endblock content %}
