<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Diagnosis List!</title>
</head>
<body>
	<h1>List of client diagnoses:</h1>
	<!-- Render the items key from the context dictionary that we 
	created using this double curly bracket syntax -->
	<!-- A template variable - anything that you return to the template
	in the context dictionary can be rendered in the same way.
	That includes almost anything that you can use in Python
	Meaning you can return strings, numbers, lists, other dictionaries, 
	or even functions and classes. -->
	<!-- {{ diagnoses }} -->
	
	<!-- A query set is kind of like a list which means we can iterate through it in our
	template just like we could iterate through a list in Python. -->
	<ul>
		{% for diagnosis in diagnoses %}
			<li>{{ diagnosis.diagnosis }}</li>
				
		<!-- What to do if there are NO diagnoses returned from DB -->
		{% empty %}
			<li>There are no diagnoses yet.  Please add some below</li>
		{% endfor %}
	</ul>
	<a href="/addDiagnosis"><button>Add Diagnosis</button></a>
</body>
</html>