/*~~~~~~~  Typography  ~~~~~~~ */
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: Gabriela;
  font-weight: 400;
  font-size: 1.6rem;
  /* For accessibility - The WCAG criteria states that line-height should be at least 1.5 */
  /* The WCAG criteria is meant for "body" text, not headings. */
  /* So we can calculate the proper line height for all elements : */
  /* Instead of calculating the line height by multiplying the font-size with a number like 1.5, */
  /* this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */
  line-height: calc(1em + 1.3rem);
  color: #3D2724;
}

.subTitle {
  text-align: center;
  line-height: calc(1em + 1rem);
  padding: 0 1rem;
  font-size: 2rem;
}
.subTitle #amber {
  font-weight: 300;
  font-size: 2rem;
}
.subTitle #hippo {
  font-weight: 300;
}

.boldEntry {
  font-weight: 700;
}

/*===== END  Typography  ===== */
/*~~~~~~~  Reset  ~~~~~~~ */
/*  Josh's Custom CSS Reset  */
/*  https://www.joshwcomeau.com/css/custom-css-reset */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*  The height of an element is calculated based on its CHILDREN.   */
/*  So setting height: 100% on an element will cause it to be 100% of the child's height.  */
/*  This setting causes the height to be calculated from the parent  */
html, body {
  height: 100%;
}

body {
  /* MacOS browsers like Chrome and Safari still use subpixel antialiasing by default. */
  /* We need to explicitly turn it off. */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /*display: block*/      /* Will remove extra space from under an image - Use flexbox on its parent instead */
  /* Keep large images from overflowing, if theyre placed in a container that isnt wide enough to contain them. */
  max-width: 100%;
}

/* by default, buttons and inputs don't inherit typographical styles from their parents. */
/* Instead, they have their own weird styles. */
/* Form inputs shouldn't have their own typographical styles! */
input, button, textarea, select {
  font: inherit;
}

/* The overflow-wrap property lets us tweak the line-wrapping algorithm, */
/* and give it permission to use hard wraps when no soft wrap opportunties can be found */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*===== END  Reset  ===== */
html {
  /* Since browser default font-size is 16px */
  /* Set it to 10px (on a desktop) to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser or zooms the font sizes,  */
  /* paddings and margins adjust accordingly. */
  /* This defines what 1rem is */
  /* For mobile 1st design we will use 8px for the mobile device */
  font-size: 50%;
}

body {
  /* Inheritable properties */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Set up page for sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Mobile devices do not honour the 'vh' property properly. */
  /* So setting the min-height to less than 100 for mobile devices. */
  min-height: 92vh;
  /* Non-inheritable properties */
  padding: 0;
}

/*~~~~~~~  Utilities  ~~~~~~~ */
.centreText {
  text-align: center;
}

.marginBottomSmall {
  margin-bottom: 1.5rem;
}
.marginBottomMedium {
  /* Mobile first - so smaller values first */
  margin-bottom: 3rem;
}
.marginBottomBig {
  margin-bottom: 5rem;
}

.marginTopSmall {
  margin-top: 1.5rem;
}
.marginTopMedium {
  margin-top: 4rem;
}
.marginTopBig {
  margin-top: 8rem;
}
.marginTopHuge {
  margin-top: 10rem;
}

.invisible {
  display: none;
}

/*===== END  Utilities  ===== */
/*~~~~~~~  Header  ~~~~~~~ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: -6rem;
}

#navWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 16rem;
}

#titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: auto;
  padding-top: 3.4rem;
}
#titleBar h1 {
  margin-right: auto;
  margin-left: auto;
  padding-right: 8rem;
  margin-top: -3rem;
}
#titleBar a:not(:last-child) {
  padding-right: 2rem;
}

#logo {
  width: 9rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.ui-icon {
  -webkit-transform: scale(2);
          transform: scale(2);
}

/*===== END  Header  ===== */
/*~~~~~~~  Navbar  ~~~~~~~ */
#navigationNav {
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 1500;
  /*Hide the navigation initially */
  opacity: 0;
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable, so we need to set the width to zero as well */
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#accountLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  z-index: 1500;
  /*Hide the navigation initially */
  opacity: 0;
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable, so we need to set the width to zero as well */
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#accountLinks .navigationLink {
  /*Hide the navigation initially */
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable, so we need to set the width to zero as well */
  width: 0;
  /*Centre the account links */
  text-align: center;
  margin-left: 8rem;
}
#naviToggle {
  display: none;
}

.navigationButton {
  display: inline;
  background-color: #FFFFFF;
  /*Make this slightly larger than the navigationBackground, to be sure to cover it */
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigationBackground {
  /*Coloured background for the navigation */
  /*It will start as a small circle behind the white circle containing the "hamburger" icon */
  /*It will expand to fill the screen when the "hamburger" icon is clicked */
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /*Stays in the same position even if we scroll down the page */
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#F5853F, #923d08);
  z-index: 1000;
  /*Custom transition function, uses a cubic bezier curve for ease-in and ease-out */
  /*See easings.net & cubic-bezier.com */
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigationList {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}
.navigationLink {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.navigationLink:link, .navigationLink:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #191970;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFCDBC 50%);
  /*Increasing the background shoves the RHS of the linear gradient off the element, so it is invisible */
  background-size: 235%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigationLink:hover, .navigationLink:active {
  background-position: 100%;
  color: #F5853F;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigationItem {
  margin: 1rem;
  /*Hide the navigation list item initially */
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable, so we need to set the width to zero as well */
  width: 0;
}
.navigationCheckbox:checked ~ .navigationBackground {
  -webkit-transform: scale(80);
          transform: scale(80);
}
.navigationCheckbox:checked ~ #navigationNav, .navigationCheckbox:checked ~ #accountLinks {
  opacity: 1;
  width: 100%;
}
.navigationCheckbox:checked ~ #navigationNav .navigationItem, .navigationCheckbox:checked ~ #accountLinks .navigationLink {
  width: 100%;
}
.navigationCheckbox:checked ~ #accountLinks .navigationLink, .navigationCheckbox:checked ~ #navigationNav .navigationLink {
  -webkit-transform: none;
          transform: none;
}
.navigationIcon {
  display: inline-block;
  position: relative;
  margin-top: 3.5rem;
  /*A bar before the span, the span is a bar, a bar after the span */
  /*Each bar is 3rem x 2px and is coloured dark grey */
  /*For ::before and ::after to show they need content and display properties to be set */
}
.navigationIcon, .navigationIcon::before, .navigationIcon::after {
  width: 3rem;
  /*Always stays the same height, no matter what the base font size is */
  height: 2px;
  background-color: #333333;
  display: inline-block;
}
.navigationIcon::before, .navigationIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigationIcon::before {
  top: -0.8rem;
  /*By default elements will rotate around the centre. */
  /*If you want to rotate around the edge you can set the transform-origin */
  /*transform-origin: right */
}
.navigationIcon::after {
  top: 0.8rem;
  /*transform-origin: left */
}
.navigationButton:hover .navigationIcon::before {
  top: -1rem;
}
.navigationButton:hover .navigationIcon::after {
  top: 1rem;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon {
  /*When the button is clicked change the "hamburger" to a cross */
  /*When the checkbox is selected - get its adjacent sibling and */
  /*select the child element of the adjacent sibling */
  /*Step 1 make the middle bar invisible (this is the span in the navigationIcon) */
  background-color: transparent;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::before {
  /*Step 2 make the top bar rotate (this is the navigationIcon::before) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::after {
  /*Step 3 make the bottom bar rotate (this is the navigationIcon::after) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

#clientDropdown {
  background-color: #F5853F;
  color: #191970;
  font-size: 1.4rem;
  border: none;
  text-transform: uppercase;
}

.nonMobile {
  display: none;
}


/*===== END  Navbar  ===== */
/*~~~~~~~  Footer  ~~~~~~~ */
footer {
  /*Sticky footer */
  margin-top: auto;
  background-color: #F5853F;
  color: #FFCDBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
}

/*===== END  Footer  ===== */
/*~~~~~~~  Layout  ~~~~~~~ */
[id$="Container"], .container {
  /* Target all elements with an id that ends in 'Container' */
  /* Or any elements with the class of 'container' */
  margin-left: 1rem;
  margin-right: 1rem;
  /*Move the container closer to the header/logo section (mobile only) */
}
[id$="Container"] h1, .container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
[id$="Container"] h2, .container h2 {
  text-align: center;
}

#scoreContainer {
  margin-right: 2rem;
}

/*===== END  Layout  ===== */
/*~~~~~~~  Home Page  ~~~~~~~ */
.splash {
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  /* To put a gradient on top of an image */
  /* Just specify both in the background-image separated by a comma */
  /*We can specify an angle for the gradient instead of 'to right' use '90deg', etc. */
  /* For the gradient we can specify in percentages at which point the gradient should be */
  /*We can have the first colour starting at 0% and the full second colour at 30% */
  /*If we also say at 30% we want it to be the first colour ... */
  /*This gives us two solid colours - first colour on LHS & second colour on RHS */
  /*Since we specified the angle to be 75 degrees the colours meet at a 75 degree angle */
  /*To make the RHS see through, just change second colour to transparent */
  background-image: linear-gradient(75deg, rgba(255, 205, 188, 0.9) 0%, rgba(255, 205, 188, 0.9) 43%, transparent 50%), url("../images/hippotherapy-small.jpg");
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(61, 39, 36, 0.55);
          box-shadow: 0 1.5rem 4rem rgba(61, 39, 36, 0.55);
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.splashTitle {
  font-size: 2.5rem;
  margin-top: 1rem;
}
.splashSubtitle {
  font-size: 1.8rem;
  /*Place the text close to the bottom of the image */
  margin-top: 10rem;
  /*Change display to inline-block, so we can modify the width */
  display: inline-block;
  /*Change width to force the text to wrap */
  width: 43%;
  /*Change the line-height to space out the text vertically */
  line-height: calc(1em + 2rem);
  margin-top: auto;
}

.welcomeText {
  text-align: center;
  margin-bottom: 1rem;
}

/*===== END  Home Page  ===== */
/*~~~~~~~  Diagnosis  ~~~~~~~ */
#diagnosisContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

#diagnosisList {
  margin: 3rem 1rem 1rem 2rem;
  padding: 3rem 1rem;
  border-top: 1px solid #f4f2f2;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.diagnosisItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.7rem;
  /*&::before
   * content: ""
   * display: inline-block
   * width: 1rem
   * height: 1rem
   * margin-right: .7rem */
}

/*===== END  Diagnosis  ===== */
/*~~~~~~~  Record Session page  ~~~~~~~ */
.sessionHeader div {
  font-size: 1.2rem;
}

.spreadOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 2rem;
  margin-top: 0.8rem;
}

/*===== END  Record Session page  ===== */
/*~~~~~~~  Observations page  ~~~~~~~ */
.ui-accordion .skill {
  /*Need to add 'ui-accordion' class here since jQuery styles this element with 2 classes */
  /*We need to match with 2 classes in our selector to override the jQuery styling */
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skillName {
  font-weight: 700;
  padding-bottom: 0.5rem;
}
.skillDetails {
  /*Stripe the skills for each function */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.skillDetails:nth-child(even) {
  background-color: #FFCDBC;
}
.skillHints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.skillHint {
  width: 16%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.skillHint:hover, .skillHint:active {
  overflow: visible;
  text-overflow: unset;
  -webkit-transform: translateY(-3.25rem);
          transform: translateY(-3.25rem);
  font-weight: 700;
  width: 100%;
  background-color: #7EB2DD;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: normal;
  text-align: center;
}
.skillScores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skillScoreLabel {
  display: inline-block;
  margin-top: 0.5rem;
}

#accordion h3 {
  /*First colour is a "fall back" in case the image does not work */
  background: #F5853F url(../images/ui-state-default-bg.png) 50% 50% repeat-x;
  font-size: 2rem;
}
#accordion h3 .tapHint {
  display: none;
}
#accordion h3[aria-selected="true"] {
  /*First colour is a "fall back" in case the image does not work */
  background: #f8a46f url(../images/ui-state-active-bg.png) 50% 50% repeat-x;
  color: #191970;
}
#accordion h3[aria-selected="true"] .tapHint {
  display: inline-block;
  font-size: 1.6rem;
}
#accordion h3:hover {
  background-color: #F5853F;
  background-image: none;
}

.observationAccordion {
  margin-bottom: 2rem;
}

#observationForm .btnGroup {
  margin-top: 1rem;
}
#observationForm input[type="radio"] + label {
  padding-bottom: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.allRequired {
  text-align: center;
}

/*===== END  Observations page  ===== */
/*~~~~~~~  Select Session Page  ~~~~~~~ */
.chooseSessionRadio .formRadioLabel {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chooseSessionRadio .formRadioGroup {
  width: 90%;
}
.chooseSessionRadio .formRadioGroup:not(:last-child) {
  margin-bottom: 1rem;
}

.chooseSessionText {
  margin-left: auto;
}

/*===== END  Select Session Page  ===== */
/*~~~~~~~  Form  ~~~~~~~ */
form {
  margin: 2rem 0;
}

.formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.formGroup:not(:last-child) {
  margin-bottom: 2rem;
}
.formInput, .form #id_diagnosis {
  /*Font family & colour are set by the browser for form inputs */
  /*So we need to set them to inherit from the body element */
  font-family: inherit;
  color: inherit;
  /*Always when padding an element give it a bit more on the sides to look better */
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #7EB2DD;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(61, 39, 36, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(61, 39, 36, 0.15);
  /*Add a transparent border at the bottom to match the border when the input is focussed */
  /*Otherwise the form elements will 'jump' when focus switches */
  border-bottom: 3px solid transparent;
  /*Full width on its own line */
  width: 90%;
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.formInput:focus, .form #id_diagnosis:focus {
  /*Browser highlights a border (outline) around the input element when it has focus */
  /*We want to remove this */
  outline: none;
  /*This focus is important for ARIA, i.e. keyboard navigation */
  /*Always make form elements that are focussed visible */
  /*Give it a box shadow and a border at the bottom */
  -webkit-box-shadow: 0 1rem 2rem rgba(61, 39, 36, 0.1);
          box-shadow: 0 1rem 2rem rgba(61, 39, 36, 0.1);
  border-bottom: 3px solid #7EB2DD;
  /*Apply this style when we have an invalid focussed input element */
}
.formInput:focus:invalid, .form #id_diagnosis:focus:invalid {
  border-bottom: 3px solid #191970;
}
.formInput::-webkit-input-placeholder, .form #id_diagnosis::-webkit-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formInput:-ms-input-placeholder, .form #id_diagnosis:-ms-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formInput::-ms-input-placeholder, .form #id_diagnosis::-ms-input-placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formInput::placeholder, .form #id_diagnosis::placeholder {
  /*Target the placeholder text */
  color: #999999;
}
.formLabel {
  font-weight: 700;
  /*Use 'block' so we can apply margins to the element */
  display: block;
  margin-left: 2rem;
  margin-top: 0.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.formInput.fadeInLabel:placeholder-shown + .formLabel {
  /*Use adjacent sibling selector '+' to choose a label which is next to an input element */
  /*If there were elements between the label and the input we would have to use the general sibling selector '~' */
  /*The sibling we want to select/use always has to be after the other element in the HTML */
  /*When the placeholder is shown -> these attributes are applied to the label */
  /*Once we start typing -> these attributes will not be applied and the label will appear */
  /*Using opacity since we want to animate the label disappearing */
  opacity: 0;
  /*Using visibility since we want the element to be gone from the page */
  visibility: hidden;
  /*Move the label down to the same position as the placeholder text - at the start of the animation */
  -webkit-transform: translateY(4.7rem);
          transform: translateY(4.7rem);
}
.formInputHelp {
  color: #808080;
}
.formInput.fadeInLabel:placeholder-shown > .formHelp {
  /*Use adjacent sibling selector '+' to choose a label which is next to an input element */
  /*If there were elements between the label and the input we would have to use the general sibling selector '~' */
  /*The sibling we want to select/use always has to be after the other element in the HTML */
  /*When the placeholder is shown -> these attributes are applied to the label */
  /*Once we start typing -> these attributes will not be applied and the label will appear */
  /*Using opacity since we want to animate the label disappearing */
  opacity: 0;
  /*Using visibility since we want the element to be gone from the page */
  visibility: hidden;
  /*Move the label down to the same position as the placeholder text - at the start of the animation */
  -webkit-transform: translateY(4.7rem);
          transform: translateY(4.7rem);
}

input:not([type="radio"]):required + label::after, select:required + label::after, .manyManyLabel.required::after {
  content: " *";
  color: #E84610;
}

#addClientForm {
  margin-bottom: 2rem;
}
#addClientForm #id_gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
#addClientForm #id_gender label {
  margin-right: 3rem;
}
#addClientForm #id_diagnosis {
  width: 90%;
  border: 1px solid #7EB2DD;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(61, 39, 36, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(61, 39, 36, 0.15);
  /*Add a transparent border at the bottom to match the border when the input is focussed */
  /*Otherwise the form elements will 'jump' when focus switches */
  border-bottom: 3px solid transparent;
}
#addClientForm #id_diagnosis:focus {
  /*Browser highlights a border (outline) around the input element when it has focus */
  /*We want to remove this */
  outline: none;
  /*This focus is important for ARIA, i.e. keyboard navigation */
  /*Always make form elements that are focussed visible */
  /*Give it a box shadow and a border at the bottom */
  -webkit-box-shadow: 0 1rem 2rem rgba(61, 39, 36, 0.1);
          box-shadow: 0 1rem 2rem rgba(61, 39, 36, 0.1);
  border-bottom: 3px solid #7EB2DD;
}
#addClientForm .diagnosisGroup > p {
  font-size: 1.1rem;
  margin-top: 0.7rem;
}

.chooseSessionRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}
.chooseSessionRadioButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*===== END  Form  ===== */
/*~~~~~~~  Button  ~~~~~~~ */
.btn {
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  background-color: #FFCDBC;
  color: #3D2724;
  border: 3px solid #3D2724;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  /* Make the button pop up => 3D effect */
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  /* Box Shadow X Y Blur Colour */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  color: #F5853F;
  background-color: #3D2724;
  /* Make the button appear to be pressed => 3D effect */
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  /* Box Shadow X Y Blur Colour */
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:not(:last-child) {
  margin-right: 1.5rem;
}
.btnMain {
  background-color: #191970;
  color: #FFCDBC;
}
.btnGhost {
  background-color: #FFFFFF;
  border-color: #191970;
  color: #3D2724;
}
.btnGhost:hover {
  color: #191970;
}
.btnGhost:active {
  color: #FFCDBC;
}
.btnTextOnly {
  border: none;
  background-color: transparent;
}
.btnTextOnly:hover, .btnTextOnly:active {
  background-color: transparent;
  color: #F5853F;
}
.btnDanger {
  background-color: #E84610;
  color: #191970;
}
.btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.btnGroup input:not(:last-child), .btnGroup a:not(:last-child) {
  margin-bottom: 1.5rem;
}
.btnGroup input[type="reset"] {
  /*"Reset Form" text seems to be slightly to the right of centre */
  /*So shift it to bring it back to centre-line */
  margin-right: 2rem;
}

.blankIconButton {
  height: 27.2px;
  width: 27.6px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

.clientPick {
  margin-top: 1.2rem;
}

/*===== END  Button  ===== */
/*~~~~~~~  Message  ~~~~~~~ */
.message {
  padding: 1rem 0rem 1rem 3rem;
  color: #191970;
  text-align: center;
  margin-bottom: 1rem;
}
.message span.name {
  font-weight: 700;
}
.messages {
  margin: 0 1rem 2rem 1rem;
}

.msg-warning {
  border: 1px solid #FFCDBC;
  background-color: #FFCDBC;
}

/*===== END  Message  ===== */
/*~~~~~~~  Many-to-many components  ~~~~~~~ */
.manyManyCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.manyManyCheck:not(:last-child) {
  margin-bottom: 0.5rem;
}
.manyManyCheck label {
  margin-left: 1rem;
  margin-top: -0.6rem;
  padding-bottom: 0.6rem;
}

/*===== END  Many-to-many components  ===== */
/*~~~~~~~  Table  ~~~~~~~ */
.hippoTable {
  border: 1px solid #191970;
  margin: 1rem auto 2rem auto;
  max-width: calc(100% - 4rem);
  border-collapse: collapse;
}
.hippoTable .rightPad {
  padding-right: 1rem;
}
.hippoTable thead tr {
  border-bottom: 1px solid #000000;
}
.hippoRow:nth-child(odd) {
  background-color: #FFCDBC;
}
.hippoRow:hover {
  background-color: #7EB2DD;
}
.hippoLabel {
  padding-left: 2rem;
  padding-right: 1rem;
}
.hippoCentre {
  text-align: center;
}
.hippoActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hippoActions a {
  height: 4rem;
  margin-top: 1rem;
  width: 3.5em;
}

.deleteAction {
  background-color: #E84610;
}

.scoreFunction {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #F5853F;
}
.scoreFunctionLabel {
  padding: 0.5rem 1rem;
}
.scoreClient {
  font-weight: 600;
}

.extraColumn {
  display: none;
}

.clientList {
  max-height: 60vh;
  overflow-y: auto;
}
.clientListName {
  min-width: 14rem;
}
.clientListDOB {
  min-width: 7rem;
}

/*===== END  Table  ===== */
/*~~~~~~~  Session Detail  ~~~~~~~ */
.sessionDetail {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sessionDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1.5rem;
}
.sessionClient {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1.5rem;
}

/*===== END  Session Detail  ===== */
/*~~~~~~~  Chart  ~~~~~~~ */
[data-chart] {
  display: none;
}

/*===== END  Chart  ===== */
/*~~~~~~~  Radio Button  ~~~~~~~ */
.formRadioInput {
  display: none;
}
.formRadioLabel {
  position: relative;
  cursor: pointer;
  /*Make room for our custom button */
  padding-left: 4.5rem;
}
.formRadioLabelGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 4rem;
}
.formRadioLabelCourse {
  margin-right: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formRadioLabelDates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skillRadio .formRadioLabel {
  /*Align the Observe Session skill radio labels */
  padding-left: 3.5rem;
}
.skillRadio .formRadioLabelText {
  /*Need to make the display inline-block so we can apply height & width to this element */
  display: inline-block;
  padding-top: 0.5rem;
}
.formRadioButton {
  height: 3rem;
  width: 3rem;
  border: 5px solid #F5853F;
  border-radius: 50%;
  /*The above attributes only work on block elements */
  /*Make it inline-block so they are on the same line as their label */
  display: inline-block;
  position: absolute;
  left: 0;
}
.chooseCourseRadio .formRadioButton {
  /*Align the Select Course radio buttons */
  top: 3.6rem;
}
.skillRadio .formRadioButton {
  /*Align the Observe Session skill radio buttons */
  top: 0;
}
.formRadioButton::after {
  /*The inner 'dot' of the selected radio button */
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #191970;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.formRadioInput:checked + .formRadioLabel .formRadioButton::after {
  /*For a checked (selected) RadioInput, get the next sibling RadioLabel, */
  /*then get the RadioLabels RadioButton child and select the RadioButton's ::after pseudo class */
  opacity: 1;
}

/*===== END  Radio Button  ===== */
/*~~~~~~~  Form  ~~~~~~~ */
.login p {
  margin-bottom: 1rem;
  text-align: center;
}
.loginText {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loginRemember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.loginRemember input[type="checkbox"] {
  /*Layout the "Remember Me" checkbox */
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.btnLogin {
  margin-top: 2rem;
  margin-right: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logout h3 {
  margin-bottom: 2rem;
}

/*===== END  Login  ===== */
/*~~~~~~~  404 Page  ~~~~~~~ */
.errorSection {
  background-color: #FFCDBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75vh;
  padding: 3rem;
}

.error404 {
  font-size: 10rem;
  font-weight: 100;
  color: #191970;
  margin: 5rem auto;
}
.errorSubtitle {
  color: #3D2724;
}

.errorText {
  color: #E84610;
}

/*===== END  404 Page  ===== */
/*~~~~~~~  Confirm Deletion Page  ~~~~~~~ */
.confirmHeader {
  text-align: center;
}

h1.confirmHeader {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.deleteClient {
  color: #191970;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*===== END  Confirm Deletion Page  ===== */


/* Media Queries for Big Phones */
@media only screen and (min-width: 28em) {
  #titleBar {
    padding-top: 3.8rem;
  }

  #logo {
    width: 10rem;
  }

  .splash {
    height: 40rem;
    padding: 3rem;
  }

  .splashTitle {
    font-size: 3.2rem;
  }

  .splashSubtitle {
    font-size: 2.3rem;
    width: 40%;
  }
}


/* Media Queries for Tablets in Portrait orientation */
@media only screen and (min-width: 37.5em) {
  #titleBar h1 {
    font-size: 4rem;
  }

  #titleBar {
    padding-top: 4.3rem;
  }

  #logo {
    width: 11rem;
  }

  .splash {
    height: 56rem;
    padding: 4rem;
  }

  .splashSubtitle {
    width: 27%;
  }
}

/* Media Queries for Tablets in Landscape orientation */
@media only screen and (min-width: 50em) {
  .subTitle {
    padding: 0 5rem;
    line-height: calc(1em + 2rem);
  }

  .subTitle #amber {
    font-size: 2.3rem;
  }

  html {
    font-size: 56.25%;
  }

  body {
    padding: 3rem;
  }

  .marginBottomMedium {
    margin-bottom: 4rem;
  }

  .marginBottomBig {
    margin-bottom: 8rem;
  }

  header {
    margin-bottom: 3rem;
  }

  #navWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 1rem;
  }

  #titleBar h1 {
    padding-right: 0;
    padding-left: 7rem;
    margin-top: 1rem;
  }

  #titleBar {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.4rem;
  }

  #logo {
    width: 12rem;
  }

  #navigationNav {
    background-color: #F5853F;
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: 0;
  }

  #accountLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #FFFFFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    opacity: 1;
    position: relative;
    margin-top: 0;
  }

  .navigationButton {
    display: none;
  }

  .navigationBackground {
    display: none;
  }

  .navigationList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navigationLink:link, .navigationLink:visited {
    font-size: 1.8rem;
    -webkit-transform: none;
            transform: none;
  }

  .navigationIcon {
    display: none;
  }

  #accountLinks .navigationLink {
    margin-left:0;
    width: initial;
  }

  .navigationItem {
    width: initial;
  }
  .nonMobile {
    display: initial;
  }

  .mobileOnly {
    display: none;
  }

  .splash {
	background-image: linear-gradient(75deg, rgba(255, 205, 188, 0.9) 0%, rgba(255, 205, 188, 0.9) 43%, transparent 50%), url("../images/hippotherapy-large.jpg");
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 5rem;
    height: 37rem;
  }

  .splashSubtitle {
    width: 48%;
  }

  .errorSection {
    min-height: 63vh;
  }
  .extraColumn {
    display: table-cell;
  }

  #clientDropdown {
    font-size: 1.8rem;
  }
}

/* Media Queries for Desktop/Laptop screens */
@media only screen and (min-width: 59.375em) {
  html {
    font-size: 62.5%;
  }

  body {
    min-height: 100vh;
  }

  #titleBar {
    padding-top: 0.7rem;
  }

  #logo {
    width: 13rem;
  }

  .splash {
    height: 43rem;
  }

  .splashSubtitle {
    width: 45%;
  }

  .errorSection {
    min-height: 55vh;
  }
}

@media only screen and (min-width: 68.5625em) {
  .splashSubtitle {
    width: 40%;
  }
}
@media only screen and (min-width: 72.75em) {
  #titleBar {
    padding-top: 1.2rem;
  }

  .splashSubtitle {
    width: 37%;
  }
}


/* Media Queries for Extra Large screens */
@media only screen and (min-width: 75em) {
  html {
    font-size: 75%;
  }

  #titleBar {
    padding-top: 0.7rem;
  }

  .splash {
    margin-left: 25rem;
    margin-right: 25rem;
    height: 38rem;
  }

  .splashSubtitle {
    width: 45%;
  }
}

@media only screen and (min-width: 89.75em) {
  .splashSubtitle {
    width: 40%;
  }
}

/* Media Queries for XXL screens */
@media only screen and (min-width: 93.75em) {
  #titleBar {
    padding-top: 1.2rem;
  }

  .splash {
    height: 60rem;
  }

  .splashSubtitle {
    font-size: 2.65rem;
    width: 30%;
  }
}

