/*~~~~~~~  Typography  ~~~~~~~ */
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: Gabriela;
  font-weight: 400;
  /* For accessibility - The WCAG criteria states that line-height should be at least 1.5 */
  /* The WCAG criteria is meant for "body" text, not headings. */
  /* So we can calculate the proper line height for all elements : */
  /* Instead of calculating the line height by multiplying the font-size with a number like 1.5, */
  /* this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */
  line-height: calc(1em + 0.7rem);
  color: #3D2724;
}

.subTitle {
  text-align: center;
  line-height: calc(1em + 1rem);
  padding: 0 1rem;
}
.subTitle #amber {
  font-weight: 300;
  font-size: 2rem;
}
.subTitle #hippo {
  font-weight: 300;
}

/*===== END  Typography  ===== */
/*~~~~~~~  Reset  ~~~~~~~ */
/*  Josh's Custom CSS Reset  */
/*  https://www.joshwcomeau.com/css/custom-css-reset */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*  The height of an element is calculated based on its CHILDREN.   */
/*  So setting height: 100% on an element will cause it to be 100% of the child's height.  */
/*  This setting causes the height to be calculated from the parent  */
html, body {
  height: 100%;
}

body {
  /* MacOS browsers like Chrome and Safari still use subpixel antialiasing by default. */
  /* We need to explicitly turn it off. */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /*display: block*/      /* Will remove extra space from under an image - Use flexbox on its parent instead */
  /* Keep large images from overflowing, if theyre placed in a container that isnt wide enough to contain them. */
  max-width: 100%;
}

/* by default, buttons and inputs don't inherit typographical styles from their parents. */
/* Instead, they have their own weird styles. */
/* Form inputs shouldn't have their own typographical styles! */
input, button, textarea, select {
  font: inherit;
}

/* The overflow-wrap property lets us tweak the line-wrapping algorithm, */
/* and give it permission to use hard wraps when no soft wrap opportunties can be found */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*===== END  Reset  ===== */
html {
  /* Since browser default font-size is 16px */
  /* Set it to 10px (on a desktop) to make converting px to rem easier. */
  /* Use a percentage so that if a user changes the font size */
  /* on their browser or zooms the font sizes,  */
  /* paddings and margins adjust accordingly. */
  /* This defines what 1rem is */
  /* For mobile 1st design we will use 8px for the mobile device */
  font-size: 50%;
}


body {
  /* Inheritable properties */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Set up page for sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Mobile devices do not honour the 'vh' property properly. */
  /* So setting the min-height to less than 100 for mobile devices. */
  min-height: 92vh;
  /* Non-inheritable properties */
  padding: 0;
}

/*~~~~~~~  Utilities  ~~~~~~~ */
.centreText {
  text-align: center;
}

.marginBottomSmall {
  margin-bottom: 1.5rem;
}
.marginBottomMedium {
  /* Mobile first - so smaller values first */
  margin-bottom: 3rem;
}
.marginBottomBig {
  margin-bottom: 5rem;
}

.marginTopSmall {
  margin-top: 1.5rem;
}
.marginTopMedium {
  margin-top: 4rem;
}
.marginTopBig {
  margin-top: 8rem;
}
.marginTopHuge {
  margin-top: 10rem;
}

.invisible {
  display: none;
}

/*===== END  Utilities  ===== */
/*~~~~~~~  Header  ~~~~~~~ */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 3rem;
}

#navWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 3rem;
}

#titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: auto;
  margin-top: 1rem;
}
#titleBar h1 {
  font-size: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-right: 10rem;
}
#titleBar a:not(:last-child) {
  padding-right: 2rem;
}

/*===== END  Header  ===== */
/*~~~~~~~  Navbar  ~~~~~~~ */
#navigationNav {
  position: fixed;
  top: 7rem;
  left: 0;
  z-index: 1500;
  /*Hide the navigation initially */
  opacity: 0;
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable, so we need to set the width to zero as well */
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#accountLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  position: fixed;
  z-index: 1500;
  /*Hide the navigation initially */
  opacity: 0;
  /*It is not enough to have an opacity of zero */
  /*The elements are still there and are clickable, so we need to set the width to zero as well */
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#naviToggle {
  display: none;
}

.navigation {
  /*Coloured background for the navigation */
  /*It will start as a small circle behind the white circle containing the "hamburger" icon */
  /*It will expand to fill the screen when the "hamburger" icon is clicked */
  /*When the button is clicked change the "hamburger" to a cross */
  /*When the checkbox is selected - get its adjacent sibling and */
  /*select the child element of the adjacent sibling */
}
.navigationButton {
  display: inline;
  background-color: #FFFFFF;
  /*Make this slightly larger than the navigationBackground, to be sure to cover it */
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigationBackground {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  /*Stays in the same position even if we scroll down the page */
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  background-image: radial-gradient(#F5853F, #923d08);
  z-index: 1000;
  /*Custom transition function, uses a cubic bezier curve for ease-in and ease-out */
  /*See easings.net & cubic-bezier.com */
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigationList {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}
.navigationItem {
  margin: 1rem;
}
.navigationLink:link, .navigationLink:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #191970;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFCDBC 50%);
  /*Increasing the background shoves the RHS of the linear gradient off the element, so it is invisible */
  background-size: 235%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigationLink:hover, .navigationLink:active {
  background-position: 100%;
  color: #F5853F;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}
.navigationCheckbox:checked ~ .navigationBackground {
  -webkit-transform: scale(80);
          transform: scale(80);
}
.navigationCheckbox:checked ~ #navigationNav, .navigationCheckbox:checked ~ #accountLinks {
  opacity: 1;
  width: 100%;
}
.navigationIcon {
  display: inline-block;
  position: relative;
  margin-top: 3.5rem;
  /*A bar before the span, the span is a bar, a bar after the span */
  /*Each bar is 3rem x 2px and is coloured dark grey */
  /*For ::before and ::after to show they need content and display properties to be set */
}
.navigationIcon, .navigationIcon::before, .navigationIcon::after {
  width: 3rem;
  /*Always stays the same height, no matter what the base font size is */
  height: 2px;
  background-color: #333333;
  display: inline-block;
}
.navigationIcon::before, .navigationIcon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigationIcon::before {
  top: -0.8rem;
  /*By default elements will rotate around the centre. */
  /*If you want to rotate around the edge you can set the transform-origin */
  /*transform-origin: right */
}
.navigationIcon::after {
  top: 0.8rem;
  /*transform-origin: left */
}
.navigationButton:hover .navigationIcon::before {
  top: -1rem;
}
.navigationButton:hover .navigationIcon::after {
  top: 1rem;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon {
  /*Step 1 make the middle bar invisible (this is the span in the navigationIcon) */
  background-color: transparent;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::before {
  /*Step 2 make the top bar rotate (this is the navigationIcon::before) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}
.navigationCheckbox:checked + .navigationButton > .navigationIcon::after {
  /*Step 3 make the bottom bar rotate (this is the navigationIcon::after) */
  /*Rotate 180 degrees - 45 degrees : Takes longer, so looks better */
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

/*===== END  Navbar  ===== */

/*~~~~~~~  Footer  ~~~~~~~ */
footer {
  /*Sticky footer */
  margin-top: auto;
  background-color: #3D2724;
  color: #FFCDBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*===== END  Footer  ===== */
/*~~~~~~~  Home Page  ~~~~~~~ */
.splash {
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  /* To put a gradient on top of an image */
  /* Just specify both in the background-image separated by a comma */
  /*We can specify an angle for the gradient instead of 'to right' use '90deg', etc. */
  /* For the gradient we can specify in percentages at which point the gradient should be */
  /*We can have the first colour starting at 0% and the full second colour at 30% */
  /*If we also say at 30% we want it to be the first colour ... */
  /*This gives us two solid colours - first colour on LHS & second colour on RHS */
  /*Since we specified the angle to be 75 degrees the colours meet at a 75 degree angle */
  /*To make the RHS see through, just change second colour to transparent */
  background-image: linear-gradient(75deg, rgba(255, 205, 188, 0.9) 0%, rgba(255, 205, 188, 0.9) 43%, transparent 50%), url(https://res.cloudinary.com/foxywolf/image/upload/v1650394746/static/images/hippotherapy-large_kcfunq.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.splashTitle {
  font-size: 2.5rem;
  margin-top: 1rem;
}
.splashSubtitle {
  font-size: 1.8rem;
  /*Place the text close to the bottom of the image */
  margin-top: 10rem;
  /*Change display to inline-block, so we can modify the width */
  display: inline-block;
  /*Change width to force the text to wrap */
  width: 43%;
  /*Change the line-height to space out the text vertically */
  line-height: calc(1em + 2rem);
  margin-top: auto;
}


/*===== END  Home Page  ===== */

/* Media Queries for big Phones */
@media only screen and (min-width: 28.125em) {
  .splash {
    height: 40rem;
    padding: 3rem;
  }

  .splashSubtitle {
    font-size: 2.3rem;
    width: 40%;
  }

  .splashTitle {
    font-size: 3.2rem;
  }
}

/* Media Queries for Tablets in Portrait orientation */
@media only screen and (min-width: 37.5em) {
  #titleBar h1 {
    font-size: 4rem;
  }

  .splash {
    height: 56rem;
    padding: 4rem;
  }

  .splashSubtitle {
    width: 27%;
  }
}

/* Media Queries for Tablets in Landscape orientation */
@media only screen and (min-width: 50em) {
  html {
    font-size: 56.25%;
  }

  .marginBottomMedium {
    margin-bottom: 4rem;
  }

  .marginBottomBig {
    margin-bottom: 8rem;
  }

  #navigationNav {
    background-color: #F5853F;
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    top: 0;
  }

  .navigationCheckbox {
    display: none;
  }

  .navigationButton {
    display: none;
  }

  .navigationBackground {
    display: none;
  }

  .navigationList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navigationLink:link, .navigationLink:visited {
    font-size: 1.4rem;
  }

  .navigationIcon {
    display: none;
  }

  .navigationCheckbox:checked ~ #navigationNav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  #navWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  #titleBar {
    margin-right: auto;
    margin-left: auto;
  }

  #titleBar h1 {
    padding-top: 0;
    padding-right: 0;
    padding-left: 7rem;
  }
  
  #accountLinks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #FFFFFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    opacity: 1;
    position: relative;
    margin-top: 0;
  }

  .subTitle {
    padding: 0 5rem;
    line-height: calc(1em + 2rem);
  }

  .subTitle #amber {
    font-size: 2.3rem;
  }

  body {
    padding: 3rem;
  }

  .splash {
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 5rem 5rem;
  }

  .splashTitle {
    font-size: 5rem;
  }

  .splashSubtitle {
    font-size: 3rem;
    margin-top: 43rem;
    width: 35%;
  }

  .subTitle {
    padding: 0 5rem;
    line-height: calc(1em + 2rem);
  }

  .subTitle #amber {
    font-size: 2.3rem;
  }

  .splash {
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 5rem;
    height: 37rem;
  }

  .splashSubtitle {
    width: 48%;
  }
}

/* Media Queries for Laptop/Desktop screen */
@media only screen and (min-width: 59.375em) {
  html {
    font-size: 62.5%;
  }

  body {
    min-height: 100vh;
  }

  .splash {
    height: 43rem;
  }

  .splashSubtitle {
    width: 40%;
  }
}

@media only screen and (min-width: 72.75em) {
  .splashSubtitle {
    width: 37%;
  }
}


/* Media Queries for Extra Large Desktop screens */
@media only screen and (min-width: 75em) {
  html {
    font-size: 75%;
  }

  .splash {
    margin-left: 25rem;
    margin-right: 25rem;
    height: 38rem;
  }

  .splashSubtitle {
    width: 35%;
  }
}

/* Media Queries for XXL Desktop screens */
@media only screen and (min-width: 93.75em) {
  .splash {
    height: 60rem;
  }

  .splashSubtitle {
    font-size: 2.65rem;
    width: 30%;
  }
}
