{% extends "base.html" %}

{% block title %}Amber|Add Client{% endblock title %}

{% block content %}
	<div id="addClientContainer">
		
		<h1>Add a new client</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<!-- {{ clients }} -->
		
		<!-- 'addClient' URL that we will submit the form to 
			i.e. this is a "postback" -->
		<form id="addClientForm" method="POST" action="addClient">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<!-- 'form' has been passed as a Django form in the context to this page -->
			<!-- as_p renders the elements as paragraphs, as_table renders them as a table -->
			
			<div class="formGroup">
				{{ form.first_name }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.first_name.name }}" class="formLabel">{{ form.first_name.label }}:</label>
			</div>
			<div class="formGroup">
				{{ form.last_name }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.last_name.name }}" class="formLabel">{{ form.last_name.label }}:</label>
			</div>
			<div class="formGroup">
				{{ form.gender }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.gender.name }}" class="formLabel">{{ form.gender.label }}:</label>
			</div>
			<div class="formGroup">
				<p>Format: dd/mm/yyyy</p>
				{{ form.date_of_birth }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.date_of_birth.name }}" class="formLabel">{{ form.date_of_birth.label }}:</label>
			</div>
			<div class="formGroup">
				<select name="{{ form.hat_size.name }}" id="id_{{ form.hat_size.name }}" class="formInput" required>
					<option value="" selected disabled>Choose a hat size</option>
					{% for size in hat_sizes %}
						<option value="{{ size.id }}">{{ size.size }}</option>
					{% endfor %}
				</select>
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.hat_size.name }}" class="formLabel">{{ form.hat_size.label }}:</label>
			</div>
			<label class="formLabel manyManyLabel" for="manyManyDiagnosis">Diagnoses:</label>
			<div class="formGroup manyMany" id="manyManyDiagnosis">
				{% for diag in diagnoses %}
					<div class="manyManyCheck">
						<input type="checkbox" name="diagnosis_{{ diag.id }}" id="id_{{ diag.diagnosis }}" >
						<label for="id_{{ diag.diagnosis }}">{{ diag.diagnosis }}</label>
					</div>
				{% endfor %}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
			</div>
			
			<div class="formGroup">
				{{ form.degree_of_difficulty }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.degree_of_difficulty.name }}" class="formLabel">{{ form.degree_of_difficulty.label }}:</label>
			</div>
			<div class="formGroup">
				{{ form.additional_notes }}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.additional_notes.name }}" class="formLabel">{{ form.additional_notes.label }}:</label>
			</div>
			
			
			<div class="btnGroup">
				<input type="submit" class="btn btnMain" value="Save new Client" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>
{% endblock content %}
