{% extends "base.html" %}

{% block chartActive %}navigationActive{% endblock %}
{% block title %}Amber|Choose a Course{% endblock title %}

{% block content %}
	<div id="selectCourseContainer">
		
		<h1>Select a course for this client</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<h2>{{ client }}</h2>
		
		<!-- No URL to submit the form to -->
		<!-- I.E. This is a 'postback' -->
		<form id="selectCourseForm" method="POST" action="">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			
			<input type="hidden" name="client" value="{{ client.id }}">
			
			<div class="chooseCourseRadio">
				{% for course in courses %}
    				<div class="formRadioGroup">
	    				<input type="radio" id="course{{ course.course }}" name="chosenCourse"
	    					class="formRadioInput" value="{{ course.course }}">
						<label for="course{{ course.course }}" class="formRadioLabel">
							<span class="formRadioButton"></span>
							<span class="formRadioLabelGroup">
								<span class="formRadioLabelCourse">
									{{ course.course }}
								</span>
								<span class="formRadioLabelDates">
									<span class="formRadioLabelDatesSession">First Session: {{ course.first_date }} (Week {{ course.first_week }})</span>
									<span class="formRadioLabelDatesSession">Last Session: {{ course.last_date }} (Week {{ course.last_week }})</span>
								</span>
							</span>
						</label>
    				</div>
	   			{% empty %}
	   				<div class="ui-state-error">
	   					{{ client }} has no Courses recorded yet!
	   				</div>
	   			{% endfor %}
   			</div>
			
			<div class="btnGroup largeRow">
				<input type="submit" class="btn btnMain" value="Select this Course" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>


{% endblock content %}		
