{% extends "hippo/base.html" %}

{% block title %}Amber|Choose a Session{% endblock title %}

{% block content %}
	<div id="selectSessionContainer">
		
		<h1>Select a session for this client</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<h2>{{ client }}</h2>
		
		<!-- Blank URL that we will submit the form to -->
		<!-- means that this is a POSTback -->
		<form id="selectSessionForm" method="POST" action="">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			
			<input type="hidden" name="client" value="{{ client_id }}">
			
			<div class="chooseSessionRadio">
				{% for session in sessions %}
    				<div class="formRadioGroup">
	    				<input type="radio" id="session{{ session.id }}" name="chosenSession" 
	    					class="formRadioInput" value="{{ session.id }}">
						<label for="session{{ session.id }}" class="formRadioLabel">
							<span class="formRadioButton"></span>
							<span>{{ session.session_date }}</span> 
							<span class="chooseSessionText">Session : {{ session }}</span>
						</label>
    				</div>
	   			{% endfor %}
   			</div>
			
			<div class="btnGroup">
				<input type="submit" class="btn btnMain" value="Select this Session" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>


{% endblock content %}		
