{% extends "base.html" %}

{% block title %}Amber|Edit Client{% endblock title %}
{% block clientActive %}navigationActive{% endblock %}

{% block content %}
	<div id="addClientContainer">
		<!-- Secondary breadcrumb navigation 
		Allows user to go back to Home page, or go back to the list of clients -->
		<nav class="breadcrumbNavigation">
			<!-- Home Page -->
			<a href="{% url 'home' %}" class="breadcrumbLink">Home</a>
			<!-- List of clients -->
			&raquo;
			<a href="{% url 'getClients' %}" class="breadcrumbLink">Client List</a>
			  <!-- This page -->
			  &raquo;  Edit Client
		</nav>
		
		<h1>Edit an existing client</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<!-- {{ clients }} -->
		
		<!-- No URL to submit the form to -->
		<!-- I.E. This is a 'postback' -->
		<form id="editClientForm" method="POST">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<!-- 'form' has been passed as a Django form in the context to this page -->
			<!-- as_p renders the elements as paragraphs, as_table renders them as a table -->
			
			<!-- A hidden field to POST the client's ID back to the View -->
			<input type="hidden" id="clientId" name="clientId" value="{{ client_id }}">
			
			<!-- The first name, last name input fields and gender radio group are placed in 
			the same div to allow them to be manipulated as a group with CSS -->
			<div class="nameGenderGroup">
				<div class="names">
					<div class="formGroup nameLabel">
						{{ form.first_name }}
						<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
						<label for="id_{{ form.first_name.name }}" class="formLabel">{{ form.first_name.label }}:</label>
					</div>
					<div class="formGroup nameLabel">
						{{ form.last_name }}
						<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
						<label for="id_{{ form.last_name.name }}" class="formLabel">{{ form.last_name.label }}:</label>
					</div>
				</div>
				<div class="formGroup gender" aria-labelledby="genderLabel">
					{{ form.gender }}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label class="formLabel" id="genderLabel">{{ form.gender.label }}:</label>
				</div>
			</div>
			<!-- The Date of birth input field and hat size dropdown are grouped together so they
			can be manipulated as a group -->
			<div class="dobHat">
				<div class="formGroup editDate nameLabel">
					<p>Format: dd/mm/yyyy</p>
					{{ form.date_of_birth }}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label for="id_{{ form.date_of_birth.name }}" class="formLabel">{{ form.date_of_birth.label }}:</label>
				</div>
				<div class="formGroup dobHatSize nameLabel">
					<select name="{{ form.hat_size.name }}" id="id_{{ form.hat_size.name }}" class="formInput" required>
						<option value="" disabled>Choose a hat size</option>
						<!-- Loop through all the hat sizes and create a select option for each one -->
						{% for size in hat_sizes %}
							<option {% if size.size == hat %}
										selected
									{% endif %} 
								value="{{ size.id }}">{{ size.size }}</option>
						{% endfor %}
					</select>
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label for="id_{{ form.hat_size.name }}" class="formLabel">{{ form.hat_size.label }}:</label>
				</div>
			</div>
			<label class="formLabel manyManyLabel" id="diagnosisLabel">Diagnoses:</label>
			<div class="formGroup manyMany" id="manyManyDiagnosis" aria-labelledby="diagnosisLabel">
				<!-- Loop through all the diagnoses and create a checkbox for each one -->
				{% for diag in diagnoses %}
					<div class="manyManyCheck">
						<!-- If the current diagnosis has been selected for this client
						make sure this diagnosis checkbox is ticked -->
						<input type="checkbox" name="diagnosis_{{ diag.id }}" id="id_{{ diag.diagnosis|slugify }}"
							{% for condition in client_diagnoses %}
								{% if condition.diagnosis == diag.id %}
								 checked
								{% endif %}
							{% endfor %}
						 >
						<label for="id_{{ diag.diagnosis|slugify }}">{{ diag.diagnosis }}</label>
					</div>
				{% endfor %}
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
			</div>
			
			<!-- 2 free form text areas are grouped together in order to help apply CSS Stylings to them -->
			<div class="notesGroup">
				<div class="formGroup">
					{{ form.degree_of_difficulty }}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label for="id_{{ form.degree_of_difficulty.name }}" class="formLabel">{{ form.degree_of_difficulty.label }}:</label>
				</div>
				<div class="formGroup">
					{{ form.additional_notes }}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label for="id_{{ form.additional_notes.name }}" class="formLabel">{{ form.additional_notes.label }}:</label>
				</div>
			</div>
			
			
			<!-- A set of buttons allowing the Occupational Therapist to 
			save the changes they made to this client's details.
			or cancel the operation altogether, or just reset the form to start over again -->
			<!-- The Main button will be a distinct colour to highlight its primary importance.
			The Cancel button is of secondary importance and will be white to denote this.
			The Reset button is of tertiary importance and will be white with no border,
			in other words it will not look like a button so that it does not attract
			any attention away from the other more important buttons. -->
			<div class="btnGroup largeRow">
				<input type="submit" class="btn btnMain" value="Save changes" />
				<a href="{% url 'getClients' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>
{% endblock content %}