{% extends "hippo/base.html" %}
{% load static %}

{% block title %}Amber|Chart{% endblock title %}

{% block content %}
	<div id="chartContainer">
		<div id="chartFunctionData" data-chart="{{ functions }}"></div>
		<div id="chartScoreData" data-chart="{{ scores }}"></div>
		<div id="chartBaselineData" data-chart="{{ baselines }}"></div>
		
		<h1>Hippotherapy Course Chart</h1>
		<div style="display: none" id="jsonData" data-json="{{ data }}"></div>
		
		{% include 'hippo/includes/session-details.html' %}
		
		<div id="chart">
		</div>

	</div>


{% endblock content %}

{% block customJS %}
	<script src="{% static 'js/chart.js' %}"></script>
	<script>document.addEventListener("DOMContentLoaded", generateChart());</script>
{% endblock %}
