{% extends "base.html" %}

{% block clientActive %}navigationActive{% endblock %}
{% block title %}Amber|Get Client List{% endblock title %}

{% block content %}
	<div id="clientListContainer">
		
		<h1>List of Clients</h1>
		<section class="clientList">
			<div>
				<table id="clientListTable" class="hippoTable">
					<thead>
						<tr>
							<th class="clientListName">Name</th>
							<th class="clientListDOB">Date of Birth</th>
							<th>Gender</th>
							<th class="extraColumn">First Diagnosis</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					{% for client in clients %}
						<tr class="hippoRow">
							<td class="hippoLabel" title="{{ client.diagnosis.first }}">
								{{ client }}
							</td>
							<td class="hippoCentre">
								{{ client.date_of_birth }}
							</td>
							<td class="hippoCentre">
								{{ client.gender }}
							</td>
							<td class="extraColumn">
								{{ client.diagnosis.first }}
							</td>
							<td class="hippoActions">
								<a class="ui-button ui-widget ui-corner-all ui-button-icon-only" href="{% url 'editClient' client=client.id %}"><span class="ui-icon ui-icon-pencil"></span></a>
								<a class="ui-button ui-widget ui-corner-all ui-button-icon-only deleteAction" href="{% url 'deleteClient' pk=client.id %}"><span class="ui-icon ui-icon-trash"></span></a>
							</td>
						</tr>
					{% empty %}
						<tr><td colspan="4">You have no clients yet!  Please add some clients <a href="{% url 'addClient' %}">here</a></td></tr>
					{% endfor %}
					</tbody>
					<caption>
						<p>A list of hippotherapy clients</p>
					</caption>
				</table>
			</div>
			
		</section>
		
	</div>


{% endblock content %}				
