{% extends "base.html" %}
{% load static %}

{% block recordActive %}navigationActive{% endblock %}
{% block title %}Amber|New Course{% endblock title %}

{% block content %}
	<div id="newCourseContainer">
		<!-- Secondary breadcrumb navigation 
		Allows user to go back to Home page, go back to the list of clients -->
		<nav class="breadcrumbNavigation">
			<!-- Home Page -->
			<a href="{% url 'home' %}" class="breadcrumbLink">Home</a>
			<!-- List of clients -->
			&raquo;
			<a href="{% url 'selectClient' 'recordSession' %}" class="breadcrumbLink">Select Client</a>
			  <!-- This page -->
			  &raquo;  Record new course?
		</nav>
		
		<h1>Last Session for :</h1>
		
		{% include 'includes/session-details.html' %}
		
		<div id="newCourse">
			<!-- Blank URL that we will submit the form to -->
			<!-- means that this is a POSTback -->
			<form id="newCourseForm" method="POST" action="">
				<!-- Whenever we're posting information in Django,
				we need to add the CSRF or cross-site request forgery token.
				This token is a randomly generated unique value which will be added
				to the form as a hidden input field when the forms submitted.
				And works to guarantee that the data we're posting is actually coming from our
				todo list app and not from another website. -->
				{% csrf_token %}
				
				<!-- Hidden field to post the id of the last session 
				to the breadcrumb on the record session page -->
				<input type="hidden" name="lastSession" value="{{ session.id }}"> 
				
				<div class="newCourseCheckbox">
					<input type="checkbox" id="newCourse" name="newCourse">
					<label for="newCourse">Start a new Course for this client?</label>
				</div>			
				
				
				<div class="btnGroup">
					<input type="submit" class="btn btnMain" value="Record Session" />
					<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
					<input type="reset" class="btn btnTextOnly" value="Reset Form" />
				</div>
				
			</form>
		</div>

	</div>


{% endblock content %}

{% block customJS %}
	<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
