{% extends "base.html" %}
{% load static %}

{% block recordActive %}navigationActive{% endblock %}
{% block title %}Amber|New Course{% endblock title %}

{% block content %}
	<div id="newCourseContainer">
		<!-- Secondary breadcrumb navigation 
		Allows user to go back to Home page, go back to the list of clients -->
		<nav class="breadcrumbNavigation">
			<!-- Home Page -->
			<a href="{% url 'home' %}" class="breadcrumbLink">Home</a>
			<!-- List of clients -->
			&raquo;
			<a href="{% url 'selectClient' 'recordSession' %}" class="breadcrumbLink">Select Client</a>
			  <!-- This page -->
			  &raquo;  Record new course?
		</nav>
		
		<h1>Last Session for :</h1>
		
		{% include 'includes/session-details.html' %}
		
		<div id="newCourseDiv">
			<!-- No URL to submit the form to -->
			<!-- I.E. This is a 'postback' -->
			<form id="newCourseForm" method="POST">
				<!-- Whenever we're posting information in Django,
				we need to add the CSRF or cross-site request forgery token.
				This token is a randomly generated unique value which will be added
				to the form as a hidden input field when the forms submitted.
				And works to guarantee that the data we're posting is actually coming from our
				todo list app and not from another website. -->
				{% csrf_token %}
				
				<!-- Hidden field to post the id of the last session 
				to the breadcrumb on the record session page -->
				<input type="hidden" name="lastSession" value="{{ session.id }}"> 
				
				<div class="newCourseCheckbox">
					<!-- It is up to the Occupational Therapist to decide when to start a new course for a client.
					Giving them this control will make for a more positive user experience. -->
					<input type="checkbox" id="newCourse" name="newCourse">
					<label for="newCourse">Start a new Course for this client?</label>
				</div>			
				
				
			<!-- A set of buttons allowing the Occupational Therapist to 
			start recording the session having decided whether to start a new course for
			this client, or continue with the existing course,
			or cancel the operation altogether, or just reset the form to start over again -->
			<!-- The Main button will be a distinct colour to highlight its primary importance.
			The Cancel button is of secondary importance and will be white to denote this.
			The Reset button is of tertiary importance and will be white with no border,
			in other words it will not look like a button so that it does not attract
			any attention away from the other more important buttons. -->
				<div class="btnGroup largeRow">
					<input type="submit" class="btn btnMain" value="Record Session" />
					<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
					<input type="reset" class="btn btnTextOnly" value="Reset Form" />
				</div>
				
			</form>
		</div>

	</div>


{% endblock content %}

{% block customJS %}
	<script src="{% static 'js/chart.js' %}"></script>
{% endblock %}
