{% extends "hippo/base.html" %}

{% block title %}Amber|Observations{% endblock title %}

{% block content %}
	<div id="observationContainer">
		
		<h1>Hippotherapy Session Observations</h1>
		
		{% include 'hippo/includes/session-details.html' %}

		<p class="allRequired">Note: you must provide a score for each skill within every function</p>
		<form id="observationForm" method="POST" action="">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<div id="accordion" class="observationAccordion">
				{% for function in functions %}
			  	<h3>{{ function.function_name }}<span class="tapHint">&emsp;(Tap on a hint see it in full)</span></h3>
				  <div class="skill">
				    {% for skill in skills %}
				    	{% if skill.function_id == function.id %}
				    		<div class="skillDetails">
					    		<div class="skillName">
					    			{{ skill.skill_name }}
					    		</div>
					    		<div class="skillHints">
					    			{% for hint in hints %}
					    				{% if hint.skill_id == skill.id %}
					    					<div class="skillHint">{{ hint.hint_name }}</div>
					    				{% endif %}
					    			{% endfor %}
					    		</div>
					    		<div class="skillScores">
					    			{% for i in score_range %}
					    				<div class="skillRadio formRadioGroup">
						    				<input type="radio" id="score{{ i }}" name="score{{ skill.id }}" 
						    					class="formRadioInput" value="{{ i }}" required>
											<label for="score{{ i }}" class="formRadioLabel">
												<span class="formRadioButton"></span>
												<span class="formRadioLabelText">{{ i }}</span>
											</label>
					    				</div>
					    			{% endfor %}
					    		</div>
				    		</div>
			    		{% endif %}
				    {% endfor %}
				  </div>
				{% endfor %}
			</div>
			<p class="allRequired">Have you scored all skills in every function?</p>
			<div class="btnGroup">
				<input type="submit" class="btn btnMain" value="Save Observations" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
		
	</div>


{% endblock content %}
