{% extends "base.html" %}

{% block recordActive %}navigationActive{% endblock %}
{% block title %}Amber|Record Session{% endblock title %}

{% block content %}
	<div id="recordSessionContainer">
		<!-- Secondary breadcrumb navigation 
		Allows user to go back to Home page, go back to the list of clients
		or the last session for this client page -->
		<nav class="breadcrumbNavigation">
			<!-- Home Page -->
			<a href="{% url 'home' %}" class="breadcrumbLink">Home</a>
			<!-- List of clients -->
			&raquo;
			<a href="{% url 'selectClient' 'recordSession' %}" class="breadcrumbLink">Select Client</a>
			<!-- Last session for this client -->
			{% if last_session|add:"0" != 0 %}
				&raquo;
				<a href="{% url 'newCourse' client_id last_session %}" class="breadcrumbLink">Last Session</a>
			{% endif %}
			<!-- This page -->
			  &raquo;  Record Session
		</nav>
		
		<h1>Record Hippotherapy Session</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<!-- {{ session }} -->
		{% include 'includes/session-details.html' %}
		
		<!-- Set action to a blank URL that we will submit the form to 
			i.e. this is a "postback" -->
		<form id="recordSessionForm" method="POST" action="">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<!-- 'form' has been passed as a Django form in the context to this page -->
			<!-- as_p renders the elements as paragraphs, as_table renders them as a table -->
			
			<input type="hidden" name="course" value="{{ course_number }}">
			<input type="hidden" name="week_number" value="{{ session_week }}">
			<!-- Hidden fields to post last session id
			for use in the breadcrumb navigation -->
			<input type="hidden" name="lastSessionId" value="{{ last_session }}">
			
			<div class="formGroup">
				<select name="{{ form.horse.name }}" id="id_{{ form.horse.name }}" class="formInput" required>
					<option value="" selected disabled>Choose your ride</option>
						{% for nag in horsies %}
							<option value="{{ nag.id }}"
								{% if breadcrumb_horse and breadcrumb_horse|add:"0" == nag.id %}
									selected
								{% endif %}
							>{{ nag.horse_name }}</option>
						{% endfor %}
				</select>

				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.horse.name }}" class="formLabel">{{ form.horse.label }}:</label>
			</div>
			<h2>Tasks</h2>
			<div class="taskList">
				<div class="formGroup">
					{% for task in unmounted %}
						<div class="manyManyCheck">
							<input type="checkbox" name="task_{{ task.id }}" id="id_{{ task.task_name }}{{ task.id }}"
								{% for breadcrumb_task in breadcrumb_tasks %}
									{# Single digit task number#}
									{% if breadcrumb_task|length == 6 %}
										{% if breadcrumb_task|slice:"-1:"|add:"0" == task.id %}
											checked
										{% endif %}
									{# 2 digit task number #}
									{% else %}
										{% if breadcrumb_task|slice:"-2:"|add:"0" == task.id %}
											checked
										{% endif %}
									{% endif %}
								{% endfor %}
							 >
							<label for="id_{{ task.task_name }}{{ task.id }}">{{ task.task_name }}</label>
						</div>
					{% endfor %}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label for="id_{{ form.task_unmounted }}" class="formLabel tasksHeading">Unmounted Tasks:</label>
				</div>
				<div class="formGroup">
					{% for task in mounted %}
						<div class="manyManyCheck">
							<input type="checkbox" name="task_{{ task.id }}" id="id_{{ task.task_name }}{{ task.id }}" 
							{% for breadcrumb_task in breadcrumb_tasks %}
									{# Single digit task number#}
									{% if breadcrumb_task|length == 6 %}
										{% if breadcrumb_task|slice:"-1:"|add:"0" == task.id %}
											checked
										{% endif %}
									{# 2 digit task number #}
									{% else %}
										{% if breadcrumb_task|slice:"-2:"|add:"0" == task.id %}
											checked
										{% endif %}
									{% endif %}
								{% endfor %}
							>
							<label for="id_{{ task.task_name }}{{ task.id }}">{{ task.task_name }}</label>
						</div>
					{% endfor %}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label for="id_{{ form.tasks_mounted.name }}" class="formLabel tasksHeading">Mounted Tasks:</label>
				</div>
			</div>
			
			
			<div class="btnGroup largeRow">
				<input type="submit" class="btn btnMain" value="Save Session" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>
{% endblock content %}
