{% extends "base.html" %}

{% block recordActive %}navigationActive{% endblock %}
{% block title %}Amber|Record Session{% endblock title %}

{% block content %}
	<div id="recordSessionContainer">
		<!-- Secondary breadcrumb navigation 
		Allows user to go back to Home page, go back to the list of clients
		or the last session for this client page -->
		<nav class="breadcrumbNavigation">
			<!-- Home Page -->
			<a href="{% url 'home' %}" class="breadcrumbLink">Home</a>
			<!-- List of clients -->
			&raquo;
			<a href="{% url 'selectClient' 'recordSession' %}" class="breadcrumbLink">Select Client</a>
			<!-- Last session for this client -->
			{% if last_session|add:"0" != 0 %}
				&raquo;
				<a href="{% url 'newCourse' client_id last_session %}" class="breadcrumbLink">Last Session</a>
			{% endif %}
			<!-- This page -->
			  &raquo;  Record Session
		</nav>
		
		<h1>Record Hippotherapy Session</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<!-- {{ session }} -->
		{% include 'includes/session-details.html' %}
		
		<!-- No URL to submit the form to -->
		<!-- I.E. This is a 'postback' -->
		<form id="recordSessionForm" method="POST">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			<!-- 'form' has been passed as a Django form in the context to this page -->
			<!-- as_p renders the elements as paragraphs, as_table renders them as a table -->
			
			<!-- Hidden fields to be POSTed back to the View -->
			<input type="hidden" name="course" value="{{ course_number }}">
			<input type="hidden" name="week_number" value="{{ session_week }}">
			<!-- Hidden fields to post last session id
			for use in the breadcrumb navigation -->
			<input type="hidden" name="lastSessionId" value="{{ last_session }}">
			
			<div class="formGroup">
				<select name="{{ form.horse.name }}" id="id_{{ form.horse.name }}" class="formInput" required>
					<option value="" selected disabled>Choose your ride</option>
						<!-- Loop through each horse and add it as a select option -->
						{% for nag in horsies %}
								<!-- If the Occupational Therapist got to this page using the breadcrumb
								Mark the horse they chose previously as selected -->
							<option value="{{ nag.id }}"
								{% if breadcrumb_horse and breadcrumb_horse|add:"0" == nag.id %}
									selected
								{% endif %}
							>{{ nag.horse_name }}</option>
						{% endfor %}
				</select>

				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_{{ form.horse.name }}" class="formLabel">{{ form.horse.label }}:</label>
			</div>
			<h2>Tasks</h2>
			<div class="taskList">
				<div class="formGroup">
					<!-- Show unmounted tasks as a list of checkbox items -->
					{% for task in unmounted %}
						<div class="manyManyCheck">
							<!-- If the Occupatioal Therapist got to this page using a breadcrumb
							tick the unmounted tasks they had selected previously -->
							<input type="checkbox" name="task_{{ task.id }}" id="id_{{ task.task_name|slugify }}{{ task.id }}"
								{% for breadcrumb_task in breadcrumb_tasks %}
									{# Single digit task number#}
									{% if breadcrumb_task|length == 6 %}
										{% if breadcrumb_task|slice:"-1:"|add:"0" == task.id %}
											checked
										{% endif %}
									{# 2 digit task number #}
									{% else %}
										{% if breadcrumb_task|slice:"-2:"|add:"0" == task.id %}
											checked
										{% endif %}
									{% endif %}
								{% endfor %}
							 >
							<label for="id_{{ task.task_name|slugify }}{{ task.id }}">{{ task.task_name }}</label>
						</div>
					{% endfor %}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label id="form.task_unmounted" class="formLabel tasksHeading">Unmounted Tasks:</label>
				</div>
				<div class="formGroup">
					<!-- Show mounted tasks as a list of checkboxes -->
					{% for task in mounted %}
						<div class="manyManyCheck">
							<!-- If the Occupatioal Therapist got to this page using a breadcrumb
							tick the unmounted tasks they had selected previously -->
							<input type="checkbox" name="task_{{ task.id }}" id="id_{{ task.task_name|slugify }}{{ task.id }}" 
							{% for breadcrumb_task in breadcrumb_tasks %}
									{# Single digit task number#}
									{% if breadcrumb_task|length == 6 %}
										{% if breadcrumb_task|slice:"-1:"|add:"0" == task.id %}
											checked
										{% endif %}
									{# 2 digit task number #}
									{% else %}
										{% if breadcrumb_task|slice:"-2:"|add:"0" == task.id %}
											checked
										{% endif %}
									{% endif %}
								{% endfor %}
							>
							<label for="id_{{ task.task_name|slugify }}{{ task.id }}">{{ task.task_name }}</label>
						</div>
					{% endfor %}
					<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
					<label id="tasksMounted" class="formLabel tasksHeading">Mounted Tasks:</label>
				</div>
			</div>
			
			
			<!-- A set of buttons allowing the Occupational Therapist to save the session details
			or cancel the operation altogether, or just reset the form to start over again -->
			<!-- The Main button will be a distinct colour to highlight its primary importance.
			The Cancel button is of secondary importance and will be white to denote this.
			The Reset button is of tertiary importance and will be white with no border,
			in other words it will not look like a button so that it does not attract
			any attention away from the other more important buttons. -->
			<div class="btnGroup largeRow">
				<input type="submit" class="btn btnMain" value="Save Session" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>
{% endblock content %}
