{% extends "base.html" %}

{% block title %}Amber|Select Client{% endblock title %}

{% block content %}
	<div id="selectClientContainer">
		<!-- Secondary breadcrumb navigation 
		Allows user to go back to Home page -->
		<nav class="breadcrumbNavigation">
			<!-- Home Page -->
			<a href="{% url 'home' %}" class="breadcrumbLink">Home</a>
			  <!-- This page -->
			  {% if target == "chooseSession" %}
			  	&raquo;  Select Client (View Session)
			  {% endif %}
			  {% if target == "generateChart" %}
			  	&raquo;  Select Client (to see chart)
			  {% endif %}
			  {% if target == "recordSession" %}
			  	&raquo;  Select Client (Record Session)
			  {% endif %}
		</nav>
		
		<h1>Select a client</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		
		<!-- No URL to submit the form to -->
		<!-- I.E. This is a 'postback' -->
		<form id="selectClientForm" method="POST">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}
			
			<!-- Hidden input to store the value of the client
			depending on which row the user clicks the 'Pick' button
			Its value will be populated by Javascript after the button is clicked -->
			<input type="hidden" name="client" id="chosenClient" value="666">
			
			<!-- Hidden input to store target page to go to 
			after the client has been chosen -->
			<input type="hidden" name="targetPage" value="{{ target }}">

			<div class="formGroup">
				<div class="clientList">
					<!-- Table of clients from which one can be picked -->
					<table id="clientListTable" class="hippoTable">
						<caption>
							<p>A list of hippotherapy clients</p>
						</caption>
						<thead>
							<tr>
								<th class="clientListName">Name</th>
								<th class="clientListDOB">Date of Birth</th>
								<th>Gender</th>
								<th class="extraColumn">First Diagnosis</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						{% for client in clients %}
							<tr class="hippoRow">
								<td class="hippoLabel" title="{{ client.diagnosis.first }}">
									{{ client }}
								</td>
								<td class="hippoCentre">
									{{ client.date_of_birth }}
								</td>
								<td class="hippoCentre">
									{{ client.gender }}
								</td>
								<td class="extraColumn">
									{{ client.diagnosis.first }}
								</td>
								<td class="hippoActions">
									<!-- Use Javascript to select this client and show the next page -->
									<button type="button" class="clientPick ui-button ui-widget ui-corner-all" onclick="selectClient({{ client.id }});">Pick</button>
									
								</td>
							</tr>
						{% empty %}
							<!-- If the Occupational Therapist has no clients shpw an appropriate message -->
							<tr><td colspan="4">You have no clients yet!  Please add some clients <a href="{% url 'addClient' %}">here</a></td></tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			
			<!-- A button allowing the Occupational Therapist or Hippotheray Analyst
			 to cancel the current operation and return to the home page -->
			<div class="btnGroup">
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
			</div>
		</form>
	</div>


{% endblock content %}