{% extends "hippo/base.html" %}

{% block title %}Amber|Add Client{% endblock title %}

{% block content %}
	<div id="selectClientContainer">
		
		<h1>Select a client</h1>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		
		<!-- Blank URL that we will submit the form to 
			i.e. this is a "postback" -->
		<form id="selectClientForm" method="POST" action="">
			<!-- Whenever we're posting information in Django,
			we need to add the CSRF or cross-site request forgery token.
			This token is a randomly generated unique value which will be added
			to the form as a hidden input field when the forms submitted.
			And works to guarantee that the data we're posting is actually coming from our
			todo list app and not from another website. -->
			{% csrf_token %}

			<div class="formGroup">
				<input type="hidden" name="targetPage" value="{{ target }}">
				<select name="client" id="id_client" class="formInput" required>
					<option value="" selected disabled>Choose a Client</option>
					{% for client in clients %}
						<option value="{{ client.id }}">{{ client.first_name }} {{ client.last_name }}</option>
					{% endfor %}
				</select>
				<!-- https://theprogrammersfirst.wordpress.com/2020/07/22/add-class-to-django-label_tag-output/ -->
				<label for="id_client" class="formLabel">Client :</label>
			</div>
			
			<div class="btnGroup">
				<input type="submit" class="btn btnMain" value="Select this Client" />
				<a href="{% url 'home' %}" class="btn btnGhost">Cancel</a>
				<input type="reset" class="btn btnTextOnly" value="Reset Form" />
			</div>
		</form>
	</div>


{% endblock content %}
