{% extends "hippo/base.html" %}

{% block title %}Amber|View Session{% endblock title %}

{% block content %}
	<div id="scoreContainer">
		
		<h1>Session</h1>
		<section class="sessionInfo">
			<h2>Session Info</h2>
			<div class="spreadOut">
				<div>Client : <span class="boldEntry">{{ scores.first.session.course.client }}</span></div>
				<div>Date : <span class="boldEntry">{{ scores.first.session.session_date }}</span></div>
			</div>
			<div class="spreadOut">
				<div>Session : <span class="boldEntry">{{ scores.first.session }}</span></div>
				<div>Course: <span class="boldEntry">{{ scores.first.session.course }}</span> Week: <span>{{ scores.first.session.week_number }}</span></div>
			</div>
			<div>
				Horse : <span class="boldEntry">{{ scores.first.session.horse }}</span>
			</div>
			<div>
				<table class="scoreTable">
				<caption>
					<p>Tasks performed by:</p>
					<span class="scoreClient">{{ scores.first.session.course.client }}</span>
				</caption>
					{% for task in tasks %}
						<tr class="scoreRow">
							<td class="scoreLabel">
								{{ task.task_name }}
							</td>
							<td class="rightPad">
								{% if task.mounted %}
									Mounted
								{% endif %}
							</td>
						</tr>
					{% empty %}
						<tr><td>No tasks for this session</td></tr>
					{% endfor %}
				</table>
			</div>
			
		</section>
		<!-- Render the items key from the context dictionary that we 
		created using this double curly bracket syntax -->
		<!-- A template variable - anything that you return to the template
		in the context dictionary can be rendered in the same way.
		That includes almost anything that you can use in Python
		Meaning you can return strings, numbers, lists, other dictionaries, 
		or even functions and classes. -->
		<section>
			<h2>Session Scores</h2>
			<table class="scoreTable">
				<caption>
					<p>Functional Skill scores for:</p>
					<span class="scoreClient">{{ scores.first.session.course.client }}</span>
				</caption>
			    <thead>
			        <tr>
			            <th>Skill</th>
			            <th class="rightPad">Score</th>
			        </tr>
			    </thead>
    			<tbody>
					{% for score in scores %}
						{% ifchanged score.skill.function %}
							<tr class="scoreFunction">
								<td class="scoreFunctionLabel">
									{{ score.skill.function }}
								</td>
								<td></td>
							</tr>
							<tr class="scoreRow">
								<td class="scoreLabel">
									{{ score.skill }}
								</td>
								<td class="scoreValue">
									{{ score.score }}
								</td>
						{% else %}
							<tr class="scoreRow">
								<td class="scoreLabel">
									{{ score.skill }}
								</td>
								<td class="scoreValue">
									{{ score.score }}
								</td>
						{% endifchanged %}
							</tr>
					{% empty %}
						<tr><td>No scores for this session</td></tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>


{% endblock content %}				
