{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock title %}</title>
	
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.2/apexcharts.min.css" integrity="sha512-72LrFm5Wau6YFp7GGd7+qQJYkzRKj5UMQZ4aFuEo3WcRzO0xyAkVjK3NEw8wXjEsEG/skqvXKR5+VgOuzuqPtA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'icon/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg' %}" color="#f5853f">
	<link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="{% static 'icon/browserconfig.xml' %}">
	<meta name="theme-color" content="#ffffff">
	
	<!-- For SEO -->
	<meta name="description" content="Amber is a custom tool specifically designed for Occupational Therapists to measure clinical outcomes during Hippotherapy treatment sessions.">
</head>
<body>

	<header class="navigation">
		<div id="logo">
			<a href="{% url 'home' %}">
				<img alt="Amber logo" src="{% static "images/amber-logo.png" %}">
			</a>
		</div>
		<div id="navWrapper">
			{% if user.is_authenticated %}
			<!-- Icon depicting the user type -->
			<div class="ui-button ui-widget ui-corner-all ui-button-icon-only" title="{{ user.user_role }}">
			    {% if user.user_role == 'Administrator' %}
			    	<span class="ui-icon ui-icon-wrench"></span>
			    {% elif user.user_role == 'Occupational Therapist' %}
			    	<span class="ui-icon ui-icon-person"></span>
			    {% elif user.user_role == 'Hippotherapy Analyst' %}
			    	<span class="ui-icon ui-icon-clipboard"></span>
			    {% endif %}
			     Button with icon only
			  </div>
			{% else %}
				<button class="blankIconButton" aria-label="blank unused icon button">
					<span class="invisible">Blank</span>
				</button>
			{% endif %}
			<!-- Hamburger menu for mobile devices -->
			<input type="checkbox" class="navigationCheckbox" id="naviToggle">
	       	<label class="navigationButton" for="naviToggle">
				<span class="navigationIcon">&nbsp;menu</span>
			</label>
	       	<div class="navigationBackground">
	       		&nbsp;
	       	</div>
			<div id="titleBar">
				<h1>Amber</h1>
			</div>
			<div id="accountLinks">
				{% if user.is_authenticated %}
					<a href="{% url 'myAccount' %}" class="navigationLink accountLink {% block myAccountActive %}{% endblock %}">My Account</a> 
					<a href="{% url 'account_logout' %}" class="navigationLink accountLink {% block logoutActive %}{% endblock %}">Logout</a>
				{% else %}
					<a href="{% url 'account_login' %}" class="navigationLink accountLink {% block loginActive %}{% endblock %}">Login</a>
				{% endif %}
			</div>
			<!-- Top navbar -->
			<nav id="navigationNav" class="navigationBar">
				<ul class="navigationList">
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink {% block homeActive %}{% endblock %}"> Home</a>
					</li>
					<!-- Role based access links -->
					{% if user.user_role == 'Occupational Therapist' %}
					<li class="navigationItem">
						<select class="nonMobile {% block clientActive %}{% endblock %}" id="clientDropdown" onchange="location = this.value">
							<option disabled selected>Client ...</option>
							<option value="{% url 'addClient' %}">Add Client</option>
							<option value="{% url 'getClients' %}">Edit Client</option>
						</select>
					</li>
					{% endif %}
					{% if user.user_role == 'Occupational Therapist' %}
						<li class="navigationItem mobileOnly">
							<a href="{% url 'addClient' %}" class="navigationLink">Add Client</a>
						</li>
						<li class="navigationItem mobileOnly">
							<a href="{% url 'getClients' %}" class="navigationLink">Edit Client</a>
						</li>
					{% endif %}
					{% if user.user_role == 'Occupational Therapist' %}
						<li class="navigationItem">
							<a href="{% url 'selectClient' target='recordSession' %}" class="navigationLink 
								{% if target == 'recordSession' %}
									navigationActive
								{% endif %}
								{% block recordActive %}{% endblock %}
								">Record Session</a>
						</li>
					{% endif %}
					{% if user.user_role == 'Occupational Therapist' or user.user_role == 'Hippotherapy Analyst' %}
						<li class="navigationItem">
							<a href="{% url 'selectClient' target='chooseSession' %}" class="navigationLink 
								{% if target == 'chooseSession' %}
									navigationActive
								{% endif %}
								{% block viewActive %}{% endblock %}
								">View Session</a>
						</li>
					{% endif %}
					{% if user.user_role == 'Occupational Therapist' or user.user_role == 'Hippotherapy Analyst' %}
						<li class="navigationItem">
							<a href="{% url 'selectClient' target='generateChart' %}" class="navigationLink 
								{% if target == 'generateChart' %}
									navigationActive
								{% endif %}
								{% block chartActive %}{% endblock %}
								">Generate Charts</a>
						</li>
					{% endif %}
					{% if user.user_role == 'Administrator' %}
						<li class="navigationItem">
							<a href="{% url 'addDiagnosis' %}" class="navigationLink {% block diagnosisActive %}{% endblock %}">Add Diagnosis</a>
						</li>
					{% endif %}
					{% if user.user_role == 'Administrator' %}
						<li class="navigationItem">
							<a href="{% url 'addUser' %}" class="navigationLink {% block addUserActive %}{% endblock %}">Add User</a>
						</li>
					{% endif %}
					{% if user.is_superuser %}
						<li class="navigationItem">
							<a href="{% url 'admin:index' %}" class="navigationLink {% block configActive %}{% endblock %}">Maintain Configuration</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>

	</header>
	
	<!-- Show any success or error messages -->
	{% include 'includes/messages.html' %}
	
	<main>
		{% block content %}
		{% endblock %}
	</main>
	
	<footer>
        <div class="footer-copyright">
            &copy; Natalia Campbell, 2022
        </div>
     </footer>
            
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" 
		integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" 
		crossorigin="anonymous"></script>
    
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block customJS %}
    {% endblock %}

</body>
</html>
