{% extends "base.html" %}

{% block homeActive %}navigationActive{% endblock %}
{% block title %}Amber|Home{% endblock title %}

{% block content %}
	{% if user.is_authenticated %}
		<p class="welcomeText">Welcome, {{ user.first_name }}</p>
	{% endif %}
	<h2 class="subTitle"><span id="amber">Amber</span> is a custom tool specifically designed for 
	<em>Occupational Therapists</em> to measure clinical outcomes during <strong><span id="hippo">Hippotherapy</span></strong> Sessions</h2>
	<div class="splash">
		<h3 class="splashTitle">Amber</h3>
		<h4 class="splashSubtitle"><span>Tool for</span><span>Hippotherapy</span><span>Measurement</span></h4>
	</div>
{% endblock %}
