		<div class="sessionDetail">
			<h2>Session Details</h2>
			<div class="spreadOut">
				<div>Client : <span class="boldEntry">{{ session.course.client }}</span></div>
				<div>Date : <span class="boldEntry">{{ session.session_date | date:"D, jS M Y"}}</span></div>
			</div>
			<div class="spreadOut">
				<div>Session : <span class="boldEntry">{{ session }}</span></div>
				<div>Course: <span class="boldEntry">{{ session.course }}</span> Week: <span>{{ session.week_number }}</span></div>
			</div>
		</div>
