{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Amber</title>
	
    <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/liz-conway/raw/upload/v1650387780/amber/CSS/style_plzeom.css">
</head>
<body>

	<header class="navigation">
		<div id="logo">
			<a href="{% url 'home' %}">
				<img alt="Amber logo" src="https://res.cloudinary.com/liz-conway/image/upload/v1650387827/amber/images/amber-logo_cp0chc.png">
			</a>
		</div>
		<div id="navWrapper">
			<input type="checkbox" class="navigationCheckbox" id="naviToggle">
	       	<label class="navigationButton" for="naviToggle">
				<span class="navigationIcon">&nbsp;</span>
			</label>
	       	<div class="navigationBackground">
	       		&nbsp;
	       	</div>
			<div id="titleBar">
				<h1>Amber</h1>
			</div>
			<div id="accountLinks">
				<a href="{% url 'home' %}" class="navigationLink accountLink">My Account</a> 
				<a href="{% url 'home' %}" class="navigationLink accountLink">Logout</a>
			</div>
			<!-- Top navbar -->
			<nav id="navigationNav" class="navigationBar">
				<ul class="navigationList">
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink"> Home</a>
					</li>
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink"> Client</a>
					</li>
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink">Record Session</a>
					</li>
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink">View Session</a>
					</li>
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink">Generate Charts</a>
					</li>
					<li class="navigationItem">
						<a href="{% url 'home' %}" class="navigationLink">View Charts</a>
					</li>
				</ul>
			</nav>
		</div>

	</header>
	
	<main>
		{% block content %}
		{% endblock %}
	</main>
	
	<footer>
        <div class="footer-copyright">
            &copy; Natalia Campbell, 2022
        </div>
     </footer>
            
	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" 
		integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" 
		crossorigin="anonymous"></script>
    
    <script src="https://res.cloudinary.com/liz-conway/raw/upload/v1650387807/amber/js/script_ykv1d0.js"></script>

</body>
</html>
